.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/codeStyles
/.idea/misc.xml
/build

/RootShell/build
/RootTools/build
/android-job/build
/appkillermanager/build
/taptargetview/build
/phoneProfiles/build
/phoneProfiles/google-services.json
/phoneProfiles/fabric.properties
